<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoer.app">
   <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="com.xiaoer.app.Myapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xiaoer.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiaoer.app.HomepageActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.xiaoer.app.SuccessActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.OwnerphotoActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".Image1Activity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".Image2Activity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".Image3Activity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".Image4Activity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".Image5Activity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".Image6Activity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.MyOrderActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.orderHistoryActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.photoFinishActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.photoFinishActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.showmeActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.SumActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.WashActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.ArriveActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.finishImage2Activity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name="com.xiaoer.app.ImageGalleryDemoActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Xiyouji"
            android:screenOrientation="portrait">
        </activity>
    </application>


</manifest>
